.Decomposition {
  margin: 40px auto;
}
.top {
  display: flex;
  justify-content: center;
}
.News {
  border: 1px solid black;
  height: 200px;
}
.BunnerText {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}
.Search {
  border: 1px solid black;
}
.top-block {
  border: 1px solid black;
}
.center-block {
  display: flex;
  justify-content: center;
}
.logo {
  border: 1px solid black;
}
.input {
  border: 1px solid black;
}
.botton-block {
  border: 1px solid black;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
}
.Weather {
  border: 1px solid black;
  width: 200px;
  height: 150px;
}
.Map {
  width: 200px;
  border: 1px solid black;
  height: 100px;
}
.Visited {
  border: 1px solid black;
}
.TVProgram {
  border: 1px solid black;
}
.Ether {
  border: 1px solid black;
}
